*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* background-image:url("./imgaecontainer/gmail.webp"); */
    /* background-image: url("./imgaecontainer/upi.png"); */
    background-color: #F5FFFA;
    
    
    
    
}
body{
    height: 100vh;
    width: 100%;
}

.nabar-logo{
    background-color:azure;
    border: 20px;
    box-shadow: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
}
.moneyADd{
    color:orange;
    font-size: 20px;
    margin-right: 20px;
    
}
.nav-links ul li{
    list-style: none;
}
 .fa-sharp{
    font-size: 30px;
    color:blue;
   
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-head{
    
    position: relative;
    background-color:red;
    border: none;
    height: 30px;
    width: 100px;
    margin-right: 20px;
    border-radius:10px;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
}
.btn-head:hover{
    background-color: chartreuse;
    transition: 0.5s;
}
.inputconainerbox{
    margin-top: 80%;
}
.password{ 
    width: 120px;
    margin-left: 800px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.EmailBox{
    
  margin-left:30%;
  margin-right: 30%;
  margin-top: 1%;
  width: 500px ;
  height: 40px;
  border-radius: 20px;
 
}

    

.bnt-groups{

     margin-top: 10px;
     margin-left: 40%;
}

#bntreesons:hover{
    background-color: blue;
    transition: 1s;

}
#inputboxonainer{
    margin-top: 2px;
    height: 200px;
    width: 100%;
    background-color:aliceblue;
    box-shadow: 0px 0px 1px 1px;
    
    
    

}

/*  -----------      Responsive  Websites ----------- */
@media(max-width:700px){
    ol{
        background-color: beige;
        
    }
    ol li{
        width: 80%;
        padding: 90px;
        
    }
    
    .EmailBox{
        margin-top: 50px;
        margin-left: 70px;
        width: 200px;
        border-radius:12px;
        
    }
   .bnt-groups{
     margin: 2px;
     display: flex;
     width: 70%;
     
    }
    #bntreesons{
        position: relative;
        top:100px;
        right: 200px;
    }
    
    .gmailresp{
        position: relative;
        top:50px;
        left: 120px;
    }
    .btn-head{
        margin-right: 80px;
    }

}

/* Payements ------section ------ */
ol{
    width: 90%;
}
ol li{
    background-color: rebeccapurple;
    margin: 20px;
    padding: 20px;
    
    font-size: 20px;
    font-weight: 900;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;  
}
#payentsrules{
    width: 70%;
    margin-left:0px;
    margin-top: 10px;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin-left: 20px;
    font-size: 25px;
    height: 50px;
}
#paymensinputsconiner{
    width: 90%;
    margin-left: 30px;
  
}
#Copyaddress{
    width: 87%;
    color: green;
    background-color:beige;
    padding: 12px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.inputsectionconainer{
    background-color: orange;
    height: 80px;
    width:100%;
    
}
#Upiid span{
    color:blue;
  
}
#Upiid{
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    width: 87%;
    color: green;
    background-color:beige;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
;
}
.inputsectionconainer::after{
    content: "Welcome To Gmail Website";
    align-items: center;
    display: flex;
   align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
  right: 30px;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  color:#F5FFFA; 
}
#PaymentsBox{
    height: 40px;
    width: 80%; 
    display: flex;
    align-items: center;
    justify-content:center;
    

}
#PaymentsBox input{
    height: 35px;
    border: #F5FFFA;
    border-radius: 1%;
    background-color: #FFF;
    border:2px solid red;
    
}
#PaymentsBox  button{
    height: 35px;
    width: 100px;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: blue;
    background-color: bisque;
}
#note{
    width: 80%;
    margin:20px;
    padding: 5px;
    background-color: red;
}
#payementssumbit{
    width: 80%;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 20px;
    padding: 10px;
    color:blue;
    background-color:antiquewhite;
    border:1px solid blue;
    border-radius: 7px;
    
}
#payementssumbit span{
    background-color:cornsilk;
    color:yellowgreen;
    font-size: 17PX;
    
}
#payementssumbit #SUCCESSFULLY{
 color:red;
 font-size: 17PX;

}
#payementssumbit #alert{
    color:blueviolet;
    
}
#Enlishgmail{
    margin-top: 15px;
    margin-left: 15px;
    width: 80%;
    height: 50px;
    background-color:#F5FFFA;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px;
}
#Enlishgmail button{
    padding: 8px;
    background-color:orange;
    color: #FFF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.input-box{
    margin-top: 100px;
    margin-left: 120px;
    background-color:azure;
    height: 200px;
    width: 350px;
     margin-left: 0px;
}
.input-box input{
    margin-left: 40px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid orange;
    background: transparent;
}
.input-box button{
    background-color:cadetblue;
    color: #FFF;
    padding: 10px;
    margin-left: 40px;;
    margin-top: 5px;
    border-radius: 5px;
    
}
#randomID{
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 900;
color:blue;
margin-left: 70px;
margin-top: 10px;
}
